# ignore data folder
/Data
/Results
.vscode

# ignore DS store file
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

assignment_description\.pdf

\.idea/

Plots/
voting
LR_balanced
LR_balancedagent_split
LR_balancedonehot
bidding.pickle
bidding.pickle1
gbc
gponehot
hyperparamtuning_results.txt
lowestCPC_results.txt
nb
nbagent_split
nbonehot
predictions.csv
record_of_useragent_change_only.txt
tune_correctly.txt
tuned_80_rounds.txt
tuning_plotabbles.pickle
tuning_plotabbles1.pickle
usertag_mod.txt
using_gp.txt
voter.txt
votingagent_split
votingonehot
saved_models/svm1
saved_models/RFC
saved_models/RFCagent_split
saved_models/RFConehot
saved_models/dTree3
saved_models/dTree3_click
saved_models/dTree5
saved_models/dTree5_click
saved_models/dTree9
saved_models/dTree9_click
saved_models/gbr
saved_models/gbr_click
saved_models/gbr_min15
saved_models/gbr_min15_click
saved_models/gbr_min5
saved_models/gbr_min5_click
saved_models/svm
saved_models/svm0
saved_models/svm10
saved_models/svm2
saved_models/svm3
saved_models/svm4
saved_models/svm5
saved_models/svm6
saved_models/svm7
saved_models/svm8
saved_models/svm9
saved_models/temp_random.py
saved_models/temp_hyper_tune_random.py
